/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Default CSS*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-weight: 400;
    cursor: default;
    scroll-behavior: smooth;
    font-family: 'Roboto';
    color: var(--text);
}

:root {
    --primary: #1B2316;
    --text: #C4C9C3;
    --nav_bar: #1B221A;
    --default: #FFFFFF;
}

a {
    text-decoration: none;
    color: var(--text);
    cursor: pointer;
}

p {
    margin-bottom: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0px;
}

.containers {
    width: calc(100% - 100px);
    margin: 0 auto;
}

#all_bootstrap_classes {
    display: none;
}

/*Navigation Bar*/
.nav_bar_wrapper {
    background: var(--nav_bar);
    padding: 15px 0px;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.nav_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav_bar_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    cursor: default;
}

.nav_bar_logo_img {
    width: 35px;
}

.nav_bar_logo_txt {
    font-weight: bold;
}

.nav_bar_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.nav_bar_link {
    font-weight: 430;
    position: relative;
    transition: all linear 0.2s;
}

.nav_bar_link:hover {
    color: var(--default);
}

.nav_bar_link::after {
    content: '';
    position: absolute;
    background-color: var(--default);
    height: 2px;
    width: 0;
    left: 0px;
    bottom: -4px;
    border: 50px;
    transition: all linear 0.2s;
}

.nav_bar_link:hover:after {
    width: 100%;
}

.nav_bar_rside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.nav_bar_rside_search {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}

.nav_bar_rside_search::after {
    content: '';
    position: absolute;
    background-color: var(--text);
    height: 1px;
    width: 100%;
    bottom: -6px;
    transition: all linear 0.3s;
}

.nav_bar_rside_search:hover::after {
    background-color: var(--default);
}

.nav_bar_rside_search_bx {
    background: none;
    border: 0px;
    color: var(--text);
    outline: none;
    cursor: text;
    width: 155px;
}

.nav_bar_rside_search_bx::placeholder {
    color: #c4c9c379;
    font-weight: 350;
}

.nav_bar_rside_search_btn {
    background: none;
    border: none;
}

#nav_bar_rside_search_img {
    cursor: pointer;
    font-size: 18px;
    transition: all linear 0.2s;
}

#nav_bar_rside_search_img:hover {
    color: var(--default);
}

#nav_bar_rside_bar {
    font-size: 22.5px;
    cursor: pointer;
    transform: translateY(4px);
    transition: all linear 0.2s;
}

#nav_bar_rside_bar:hover {
    color: var(--default);
}

/*Section Background*/
.sec_1_2 {
    background-image: url(../Images/bg.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
}

/*Section 1*/
.sec1_lside {
    gap: 140px;
}

.sec1_wrapper {
    padding-top: 150px;
    padding-bottom: 55px;
}

.sec1_lside_up_heading {
    font-size: 85px;
}

.sec1_lside_up_link_btn {
    background: none;
    border: var(--text) 1px solid;
    padding: 8px 35px;
    transition: all linear 0.3s;
}

.sec1_lside_up_link_btn:hover {
    color: var(--nav_bar);
    background: var(--default);
}

#sec1_lside_up_link_play_img {
    cursor: pointer;
    font-size: 20px;
    padding: 11px 22px;
    transition: all linear 0.3s;
}

#sec1_lside_up_link_play_img:hover {
    color: var(--nav_bar);
    background: var(--default);
}

.sec1_lside_dwn_profile_img {
    width: 50px;
    height: 50px;
}

.sec1_lside_dwn {
    width: 300px;
    background: rgba(255, 255, 255, 0.055);
    backdrop-filter: blur(5px);
    border: solid 1px #c4c9c356;
    border-radius: 35px;
    padding: 25px 35px;
}

.sec1_lside_dwn_txt {
    font-weight: 300;
}

.sec1_lside_dwn_txt {
    font-size: 15px;
}

.sec1_lside_dwn_profile_rside_txt {
    font-size: 15px;
}

.sec1_lside_dwn_profile_rside_rating {
    font-size: 10px;
}

.sec1_rside {
    background: rgba(255, 255, 255, 0.055);
    backdrop-filter: blur(5px);
    border: solid 1px #c4c9c356;
    border-radius: 35px;
    padding: 0px 35px 0px 35px;
    height: 360px;
    width: 400px;
}

.sec1_rside_img {
    width: 300px;
}

.sec1_rside_wrapper {
    transform: translateY(-80px);
}

.sec1_rside_btn {
    background: none;
    border: var(--text) 1px solid;
    padding: 8px 35px;
    transition: all linear 0.3s;
}

.sec1_rside_btn:hover {
    color: var(--nav_bar);
    background: var(--default);
}

#prevSlide {
    cursor: pointer;
}

#nextSlide {
    cursor: pointer;
}

.sec1_rside_img,
#slideTitle,
#slideName {
    transition: opacity 0.5s ease-in-out;
}

.sec2 {
    padding-bottom: 55px;
}

.sec2_wrapper {
    gap: 150px;
}

.sec2_heading {
    color: var(--default);
    position: relative;
}

.sec2_heading::after {
    position: absolute;
    content: '';
    border-color: rgba(255, 255, 255, 0.39);
    border-width: 4px;
    border-style: solid;
    border-bottom: none;
    border-left: none;
    border-top-right-radius: 20px;
    width: 60px;
    height: 100%;
    right: -23px;
    top: -9px;
}

.sec2_heading::before {
    position: absolute;
    content: '';
    border-color: rgba(255, 255, 255, 0.39);
    border-width: 4px;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-bottom-left-radius: 20px;
    width: 60px;
    height: 100%;
    left: -23px;
    bottom: -9px;
}

.sec2_img1 {
    width: 550px;
}

.sec2_txt1 {
    color: var(--default);
}

.sec2_bx1 {
    background: rgba(255, 255, 255, 0.055);
    backdrop-filter: blur(5px);
    border: solid 1px #c4c9c356;
    border-radius: 130px;
    padding-right: 50px;
    height: 440px;
}

.sec2_bx1_wrapper {
    transform: translateY(-100px);
}

#sec2_btn2 {
    cursor: pointer;
}

.sec2_btn2 {
    background: none;
    border: var(--text) 1px solid;
    padding: 8px 8px;
    transition: all linear 0.3s;
}

.sec2_btn2:hover {
    background: var(--default);
}

.sec2_btn2 i {
    color: var(--text);
    transition: all 0.3s linear;
}

.sec2_btn2:hover i {
    color: var(--primary);
}

.sec2_bx2 {
    background: rgba(255, 255, 255, 0.055);
    backdrop-filter: blur(5px);
    border: solid 1px #c4c9c356;
    border-radius: 130px;
    padding-left: 90px;
    height: 440px;
}

.sec3{
    background-color: var(--primary);
    padding-bottom: 55px;
    padding-top: 70px;
}

.sec3_img1{
    width: 320px;
}

.sec3_bx1{
    background: rgba(255, 255, 255, 0.055);
    backdrop-filter: blur(5px);
    border: solid 1px #c4c9c356;
    border-radius: 35px;
    padding: 0px 35px 0px 35px;
}

.sec3_wrapper{
    gap: 140px;
}

.sec3_bx1_wrapper{
    transform: translateY(-80px);
}

.sec3_bx1_txt{
    transform: translateY(40px);
}